* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    background-color: #CD3FA7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
    z-index: 100000;
}

h1 {
    text-transform: uppercase;
    color: #77ACE7;
    text-shadow: 1px 1px 1px #fff;
    font-size: 3.4em;
    letter-spacing: 2px;
}

nav {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em 0;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: 500;
    color: #fff;
    margin-right: 1em;
    transition: .4s;
}

nav a:hover {
    color: #77ACE7;
}

img {
    width: 20em;
}


.tokenomics {
    display: flex;
    justify-content: space-between;
    width: 500px;
    text-align: center;
    color: #ffffff;
    margin-top: 3em;
    font-weight: 300;
}

.tokenomics h3 {
    font-size: 1.5em;
}


.dollar {
    display: inline-block;
    animation-name: rotate;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: color .4s;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        color: #fff;
    }

    100% {
        transform: rotateY(360deg);
    }
}



@media screen and (max-width: 1024px) {
    img {
        width: 150px;
    }

    nav {
        justify-content: center;
        align-items: center;
    }

    nav a {
        font-size: 1em;
        margin-left: 2em;
    }

    .tokenomics {
        width: 80vw;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tokenomics .item {
        margin: 1.5em auto;
    }

    .tokenomics h3 {
        font-size: 1em !important;
    }

    .tokenomics h4 {
        font-size: .9em;
    }
}